<div class="p-t-30 p-b-30 bg-color display-flex devheader content-right">
  <div class="navLink m-l-15 m-r-15" [ngClass]="{'activate': type === 'home'}" (click)="routeto('/home')" >Home</div>
  <div class="navLink m-l-15 m-r-15" [ngClass]="{'activate': type === 'works'}" (click)="routeto('/works')" >Works</div>
  <div class="navLink m-l-15 m-r-15" [ngClass]="{'activate': type === 'technology'}" (click)="routeto('/technologies')" >technologies</div>
  <div class="navLink m-l-15 m-r-15" [ngClass]="{'activate': type === 'service'}" (click)="routeto('/services')" >services</div>
  <div class="navLink m-l-15 m-r-15" [ngClass]="{'activate': type === 'about'}" (click)="routeto('/about')" >Comapany</div>
  <div class="contactUs navLink" [ngClass]="{'contactActive': type === 'contact'}" (click)="routeto('/contact')" >contact US</div>
</div>