@import'../../../sass/variable';

.devheader{
    position: fixed;
    top: 0;
    right: 0;
    padding-right: 25px;
    width: 100%;
    z-index: 400;
}
.activate{
    border-bottom: 1px solid $link-color;
}
.navLink{
word-spacing: 3px;
}
.navLink:hover{
    border-bottom: 1px solid $link-color;

}
.contactUs{
    border: 1px solid $link-color;
    padding: 10px 20px;
    margin-top: -13px;
    border-radius: 20px;
}
.contactUs:hover{
    border: 1px solid $link-color;
    padding: 10px 20px;
    background-color: $link-color;
    margin-top: -13px;
    border-radius: 20px;
}
.contactActive{
    border: 1px solid $link-color;
    padding: 10px 20px;
    background-color: $link-color;
    margin-top: -13px;
    border-radius: 20px;
}