<app-header type=contact></app-header>

<div class="section text-center">
  <app-headingDesc heading='Unleash your ideas into Reality!'
    description='We will provide you optimal satisfaction through a range of business solutions and Quality softwares'>
  </app-headingDesc>
  <div class="p-l-30 text-left">
    <h6>Got an App Idea??</h6>
    <div class="tittle "> Tell us about it !</div>
    <p class="link-color p-b-60" > devunleash@gmail.com</p>
  </div>
  <div class="bgImage"></div>
</div>
<app-footer></app-footer>