<app-header type=technology ></app-header>

<div class="section bg-color">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 class="text-center main-h main-font p-l-40 p-r-40"> {{data?.headerSection.tittle}}</h1>
      <div class="m-t-30 m-b-30 tu-border">
      </div>
      <div class="text-center item muted-color f-200 main-font"> {{data?.headerSection.description}}
    </div>
    <div class="col-md-2"></div>
  </div>
  </div>
  <!-- <div class="display-flex content-center  m-t-60">
    <div class="imgParams b-r-3 display-flex content-center"
      [ngStyle]="{'background-image': 'url(' + data?.imagePath + ')'}"> </div>
  </div>

  <div class="bottom190 bg-color">
    <div>
      <h1 class="main-h p-l-100 f-200 primary-color bottom0 main-font">Project Summary </h1>
    </div>
  </div>
  <div class="text-center">
    <h1 class="sec-h f-300 main-font p-l-100 p-r-100 m-t--30"> {{data?.needText}}</h1>
    <p *ngFor="let item of data?.needParagraph" class="p-t-10 p-l-100 p-r-100 f-200 sec-p main-font l-h-50">{{item}}</p>
  </div> -->
</div>