@import "../sass/variable";


.btnStyling {
  border-radius: 0px 0px 3px 0px;
  font-size: 12px;
  font-family: "Open Sans";
  color: white;
  text-align: center;
  background-color: $link-color;
  line-height: 30px;
  height: 30px;
  opacity: 0.9;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
  align-items: center;

}
.btnStyling:hover {
  font-size: 12.4px;
  background-color: $link-color-dark;
  box-shadow: $success-box-shadow;
  border-radius: 4px;
}

   
