<div *ngIf="isAnimation === 'true'" data-aos-once="true" data-aos="zoom-in-up"  data-aos-easing="linear" data-aos-duration="400">
    <button (click)="clickEvent($event)" [style.height]="height" [style.width]="width"
        [style.backgroundColor]="backgroundColor" class="tubtn {{class}}" [ngClass]="{ 
    'fill':type === 'fill',
    'outline-light' :type === 'outline',
    'text-only':type === 'textOnly', 
    'deletebtn': type ==='deletebtn'
    }">
        {{text}}
    </button>
</div>
 <div *ngIf="isAnimation === 'false'">
    <button (click)="clickEvent($event)" [style.height]="height" [style.width]="width"
        [style.backgroundColor]="backgroundColor" class="tubtn {{class}}" [ngClass]="{ 
    'fill':type === 'fill',
    'outline-light' :type === 'outline',
    'text-only':type === 'textOnly', 
    'deletebtn': type ==='deletebtn'
    }">
        {{text}}
    </button>
</div> 