<!-- <div class="devheader display-flex p-t-1 p-b-1 p-l-1 p-r-1">
  <div class="primary-color p-r-1 p-l-1" [routerLink]="[ '/' ]">Home</div>
  <div class="primary-color p-r-1 p-l-1" [routerLink]="[ '/technologies' ]">technologies</div>
  <div class="primary-color p-r-1 p-l-1" [routerLink]="[ '/services' ]">services</div>
  <div class="primary-color p-r-1 p-l-1" [routerLink]="[ '/contact' ]">contact</div>
  <div class="primary-color p-r-1 p-l-1" [routerLink]="[ '/about' ]">About</div>
  <div class="primary-color p-r-1 p-l-1" [routerLink]="[ '/works' ]">Works</div>
  <div class="primary-color p-r-1 p-l-1" [routerLink]="[ '/workdetail' ]">Work Detail</div>
</div> -->

<div class="section text-center">
  <app-headingDesc [heading]='heading' [description]='description'></app-headingDesc>

  <div class="row">
    <div class="col-md-4 center-align text-center  p-t-70 p-b-70" *ngFor="let item of data?.techItem">
      <img class="imgheight" [src]='item.imagePath'>
      <div class="tittle p-t-30 p-b-30">{{item.title}}</div>
    </div>

  </div>
  <app-button text="Explore our services" type=fill width="250px" height="50px"></app-button>

</div>

<div class="section p-l-100 p-r-100">
  <div *ngFor="let item of workings?.workitems; let i = index">
    <div class="row p-t-100" *ngIf="i % 2 == 0">
      <div class="col-sm-5 portfolioimg m-t-30" [ngStyle]="{'background-image': 'url(' + item?.imagePath + ')'}">
      </div>
      <div class="col-md-7 p-l-100">
        <h4> {{item?.title}}</h4>
        <div class="subtittle p-b-30"> {{item?.description}}</div>
        <div class="display-flex p-b-30">
          <div *ngFor="let item of item.proServices">
            <app-badges [text]=item></app-badges>
          </div>
        </div>
        <div class="p2 p-b-60">{{item.detailPage}}</div>
        <app-button text="See full case study" type=fill width="250px" height="50px"></app-button>
      </div>
    </div>
    <div class="row p-t-100" *ngIf="i % 2 == 1">
      <div class="col-md-6 ">
        <h4> {{item?.title}}</h4>
        <div class="subtittle  p-b-30"> {{item?.description}}</div>
        <div class="display-flex p-b-30">
          <div *ngFor="let item of item.proServices">
            <app-badges [text]=item></app-badges>
          </div>
        </div>
        <div class="p2 p-b-60">{{item.detailPage}}</div>
        <app-button text="See full case study" type=fill width="250px" height="50px"></app-button>
      </div>
      <div class="col-sm-6 portfolioimg m-t-30" [ngStyle]="{'background-image': 'url(' + item?.imagePath + ')'}">
      </div>
    </div>
  </div>
</div>
<div class="p-t-30 p-b-100">
  <app-headingDesc heading='Check out more works by Devunleash'
    description='Our case studies describe design and development solutions we’ve implemented for our clients. These stories are full of valuable insights into how we approach web and mobile development.'
    button='Explore our Portfolio' btnwidth='250px'>
  </app-headingDesc>
</div>
<div class="section text-center">
  <app-headingDesc heading='Apps for all screens'
    description='Using the latest technologies, our app development company helps businesses and individuals establish their presence on any modern device and platform – Android IOS and Web.'>
  </app-headingDesc>
  <div class="display-flex content-center">
    <div class="center-align text-center p-l-60 p-r-60 p-t-70 p-b-70" *ngFor="let item of data?.techstack">
      <img class="techimgheight" [src]='item.imagePath'>
      <div class="tittle p-t-30 p-b-30">{{item.title}}</div>
    </div>
  </div>
  <app-button text="Explore our Tech Stack" type=fill width="250px" height="50px"></app-button>
</div>

<div class="p-b-60">
  <app-headingDesc bgprime=true button='Contact us' heading='Need a skillful solution provider?' description='Tell us about your needs and challenges. We&#39;ll apply our broad-ranging expertise to develop the perfect solution
    for your business.'></app-headingDesc>
</div>
<app-footer></app-footer>