<div class="devheader display-flex p-t-10 p-b-10 p-l-10 p-r-10">
  <div class="primary-color p-r-10 p-l-10" [routerLink]="[ '/' ]">Home</div>
  <div class="primary-color p-r-10 p-l-10" [routerLink]="[ '/technologies' ]">technologies</div>
  <div class="primary-color p-r-10 p-l-10" [routerLink]="[ '/services' ]">services</div>
  <div class="primary-color p-r-10 p-l-10" [routerLink]="[ '/contact' ]">contact</div>
  <div class="primary-color p-r-10 p-l-10" [routerLink]="[ '/about' ]">About</div>
  <div class="primary-color p-r-10 p-l-10" [routerLink]="[ '/works' ]">Works</div>
  <div class="primary-color p-r-10 p-l-10" [routerLink]="[ '/workdetail' ]">Work Detail</div>
</div>
