
.imgheight{
    height: 70px;
    width: 70px;
}
.techimgheight{
    height: 90px;
    width: 90px;
}
.portfolioimg{
    background-repeat: no-repeat;
    max-width: 500px;
    background-size: contain;
    max-height: 900px;
    min-height: 400px;
    vertical-align: middle;
}