.devheader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  z-index: 400;
  background-color: rgba(0, 0, 0, 0.904);
}
.imgheight {
  height: 50px;
  width: 50px;
}
.portfolioimg {
  background-repeat: no-repeat;
  max-width: 500px;
  max-height: 900px;
  min-height: 400px;
  vertical-align: middle;
}
