<app-header type=works></app-header>

<div class="section p-l-100 p-r-100 ">
  <h2>Recent <br> <span class="p-l-50"> Projects </span></h2>
  <div *ngFor="let item of workings?.workitems; let i = index">
    <div class="row p-t-155 " *ngIf="i % 2 == 1">
      <div class="col-md-7 pointer workBoxSize" (click)="routeto(item.title)"
        [ngStyle]="{'background-color': item?.themeColor }">
        <div class="portfoliobox">
          <img class="portfolioimg" [src]='item?.imagePath'>
          <h4 class="p-b-0 p-l-20"> {{item?.title}}</h4>
          <div class="subtittle p-l-20 p-b-30"> {{item?.description}}</div>
        </div>
      </div>
      <div class="col-md-5"></div>
    </div>
    <div class="row p-t-155 " *ngIf="i % 2 == 0">
      <div class="col-md-5"></div>
      <div class="col-md-7 pointer workBoxSize" (click)="routeto(item.title)"
        [ngStyle]="{'background-color': item?.themeColor }">
        <div class="portfoliobox">
          <img class="portfolioimg" [src]='item?.imagePath'>
          <h4 class="p-b-0 p-l-20"> {{item?.title}}</h4>
          <div class="subtittle p-l-20 p-b-30"> {{item?.description}}</div>
        </div>

      </div>

    </div>
  </div>
  <div class="section">

    <div class="row p-t-30" 
      *ngFor="let item of workings?.morewrkingPage">
      <div class="col-md-5">
        <img class="portfolioimg" [src]='item?.imagePath'>
      </div>
      <div class="col-md-7" >
        <h4 class="p-b-0 p-l-20"> {{item?.title}}</h4>
        <div class="subtittle p-l-20 p-b-30"> {{item?.description}}</div>
      </div>

    </div>
  </div>
</div>
<div class="p-b-60 p-t-60">
  <app-headingDesc bgprime=true button='Talk to Us' (click)="routetopage('/contact')"  heading='Need a skillful solution provider?' description='Tell us about your needs and challenges. We&#39;ll apply our broad-ranging expertise to develop the perfect solution
    for your business.'></app-headingDesc>
</div>
<app-footer></app-footer>